.mainvisual {
    margin-bottom: 39px;
}

@media (min-width:768px) {
    .mainvisual {
        margin-bottom: 80px;
    }
}

.intro {
    margin-bottom: 60px;
}

.intro__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 185%;
}

@media (min-width:768px) {
    .intro {
        text-align: center;
        margin-bottom: 80px;
    }
    .intro__text {
        font-size: 20px;
        text-align: left;
        display: inline-block;
    }
}

/* Movies */
.title-h2_movies::before {
    content: "Movies";
}

.movies__container {
    max-width: 89%;
    margin: 0 auto;
}

.movies__container_inner {
    margin-bottom: 20px;
}

.movies__container_inner:last-child {
    margin-bottom: 0;
}

.movies__container_items {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    display: block;
}

.movies__container_items::before {
    content: "";
    position: absolute;
    background-image:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCA1MiAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggb3BhY2l0eT0iMC41IiBkPSJNNTAuMzI5IDUuMzA1NDNDNTAuMDQxOSA0LjI4MTU2IDQ5LjQ4MjUgMy4zNTQ2MSA0OC43MTA0IDIuNjIzMUM0Ny45MTY1IDEuODY5MSA0Ni45NDM0IDEuMzI5NzUgNDUuODgzMSAxLjA1NTk1QzQxLjkxNDcgMC4wMTA0NzMzIDI2LjAxNTggMC4wMTA0NzM1IDI2LjAxNTggMC4wMTA0NzM1QzE5LjM4NzcgLTAuMDY0OTAwNiAxMi43NjEyIDAuMjY2NjEzIDYuMTczODEgMS4wMDMxNEM1LjExMzQ0IDEuMjk3MTcgNC4xNDIyMSAxLjg0ODU4IDMuMzQ2NDkgMi42MDgzMkMyLjU2NDY1IDMuMzYwMjEgMS45OTgzNCA0LjI4NzQxIDEuNzAyNTEgNS4zMDMzMUMwLjk5MTg1OSA5LjEyOTg0IDAuNjQ2NTc4IDEzLjAxNTIgMC42NzEzMTggMTYuOTA3QzAuNjQ1OTYgMjAuNzk1MyAwLjk5MDM5NSAyNC42Nzk0IDEuNzAyNTEgMjguNTEwN0MxLjk5MiAyOS41MjI0IDIuNTU2MiAzMC40NDU0IDMuMzQwMTYgMzEuMTkwOUM0LjEyNDExIDMxLjkzNjUgNS4xMDAzNiAzMi40NzUxIDYuMTczODEgMzIuNzYwMkMxMC4xOTUgMzMuODAzNiAyNi4wMTU4IDMzLjgwMzYgMjYuMDE1OCAzMy44MDM2QzMyLjY1MjMgMzMuODc5IDM5LjI4NzIgMzMuNTQ3NSA0NS44ODMxIDMyLjgxMDlDNDYuOTQzNCAzMi41MzcxIDQ3LjkxNjUgMzEuOTk3NyA0OC43MTA0IDMxLjI0MzdDNDkuNDkyMiAzMC40OTgyIDUwLjA0OCAyOS41NzEgNTAuMzI2OSAyOC41NjE0QzUxLjA1NjEgMjQuNzM2NCA1MS40MTA3IDIwLjg0OTQgNTEuMzg1NiAxNi45NTU2QzUxLjQ0MDQgMTMuMDQ1MyA1MS4wODYzIDkuMTQwMDIgNTAuMzI5IDUuMzAzMzFWNS4zMDU0M1pNMjAuOTYxMiAyNC4xMzg3VjkuNjc3NDFMMzQuMTg5MiAxNi45MDkxTDIwLjk2MTIgMjQuMTM4N1oiIGZpbGw9IiMzQzNDM0MiLz4KPHBhdGggZD0iTTIwLjg2NTQgMjMuOTUxNVY5Ljg2MjM2TDM0LjAxNTMgMTYuOTA3TDIwLjg2NTQgMjMuOTUxNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
    width: 54px;
    height: 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;
    background-repeat: no-repeat;
} 

.movies__container_item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

@media (min-width:768px) {
    .title-h2_movies {
        margin-bottom: 64px;
    }

    .movies__container {
        display: flex;
        width: 89%;
        max-width: 1004px;
    }

    .movies__container_inner {
        width: 100%;
        margin-right: 15px;
    }

    .movies__container_inner:last-child {
        margin-right: 0;
    }

    .movies__container_item {
        transition: all 0.3s;
    }

    .movies__container_item:hover {
        box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
}

/* Works */
.works {
    width: 89%;
    margin: 0 auto;
}

.title-h2_works::before {
    content: "Works";
}

.title-h2_works {
    margin: 80px 0 40px 0;
}

.works__container_item-img {
    width: 100%;
    object-fit: cover;
}

.modal__container_item-img {
    height: 31vh;
}

.works__container_item {
    margin-bottom: 25px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.works__container_item:last-of-type {
    margin-bottom: 22px;
}

.works__container_text {
    font-size: 12px;
    line-height: 175%;
    font-weight: 500;
    margin-bottom: 58px;
}

.modal__area {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(31,30,30, 72%);
}

.modal__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 500px;
    background-color: #fff;
}

.close-modal {
    cursor: pointer;
}

.close-modal-top {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjM3NTYgMTBMMCAxOC4zNzU2TDEuNjI0NCAyMEwxMCAxMS42MjQ0TDE4LjM3NTYgMjBMMjAgMTguMzc1NkwxMS42MjQ0IDEwTDIwIDEuNjI0NEwxOC4zNzU2IDBMMTAgOC4zNzU2TDEuNjI0NCAwTDAgMS42MjQ0TDguMzc1NiAxMFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    right: 4.3%;
    top: -30px;
}

.close-modal-bottom {
    position: absolute;
    color: #fff;
    bottom: -55px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-bottom: 2px #fff solid;
    font-size: 16px;
    font-weight: 100;
    line-height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 6px;
    width: 66px;
    text-align: center;
}

.modal__textbox {
    width: 90%;
    padding-bottom: 55px;
    margin: 35px auto 0 auto;
}

@media (max-height:660px) {
    .modal__textbox {
        height: 35vh;
    }
    .close-modal-bottom {
        bottom: -10%;
    }
}

.modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    min-width: 106px;
}

.modal__heading {
    display: flex;
}

.modal__sub-title {
    font-weight: 400;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 5px;
}


.modal__text {
    font-size: 15px;
    line-height: 175%;
    margin: 35px 0 24px 0;
}

.modal__detail {
    display: flex;
    align-items: center;
    color: #757575;
}

.modal__detail-time {
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    width: 28%;
}

.modal__detail-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modal__detail-type {
    font-size: 12px;
    line-height: 100%;
    border: 1px solid #757575;
    padding: 5px 10px;
    margin-right: 4.45%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.modal__detail-type:last-child {
    margin-right: 0;
}

@media (min-width:768px) {
    .works__container {
        display: flex;
        max-width: 664px;
        margin: 0 auto;
    }

    .title-h2_works {
        margin: 90px 0 64px 0;
    }

    .works__container_item {
        margin-bottom: 23px;
    }

    .works__container_item:first-of-type {
        margin-right: 15px;
    }

    .works__container_text {
        text-align: center;
        margin-bottom: 106px;
    }

    .modal__wrapper {
        height: 420px;
        max-width: 1004px;
        width: 69.7%;
    }

    .modal__item {
        display: flex;
    }

    .works__container_item-photo {
        width: 100%;
        height: 420px;
    }

    .works__container_item-img {
        height: 100%;
        width: 100%;
        transition: all 0.3s;
    }

    .works__container_item-img:hover {
        box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    #modal__container_item-img {
        box-shadow: none;
        cursor: initial;
    }

    .modal__container_item-img {
        width: 100%;
        height: 100%;
    }

    .modal__textbox {
        margin: 75px 5.6% 0 4.6%;
        max-width: 335px;
    }

    .modal__text {
        margin-top: 33px;
    }

    .close-modal-top {
        width: 30px;
        height: 30px;
        background-size: 100%;
        top: -41px;
        right: 1.3%;
    }

    .close-modal-bottom {
        font-weight: 300;
        bottom: -16%;
    }
}

  

