/* 共通 */

@media (min-width:768px) {
  .text {
    font-size: 18px;
  }

  .link-wrapper__btn_more {
    width: 150px;
  }
}

/* メインビジュアル */
.mainvisual__h1 {
  font-size: 2.6rem;
  text-align: left;
  line-height: 150%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.mainvisual__h1 {
  top: calc((90% - 80px) / 2);
}

.title-h2_drone::before {
  content: "Drone shooting";
}

@media (min-width:768px) {
  .mainvisual__h1 {
    font-size: 6rem;
  }
  .mainvisual__h1 {
    top: calc((70% - 80px) / 2);
  }
}

/* ドローン空爆 */
.drone__movie_item {
  width: 90%;
  max-width: 450px;
  margin: 25px auto 0 auto;
}

.drone__movie_item1 {
  margin-top: 36px;
}

.drone__movie_wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.drone__movie_wrap-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.drone__text {
  font-size: 16px;
  width: 90%;
  max-width: 450px;
  margin: 45px auto 0 auto;
}

.drone__text-1 {
  font-weight: 500;
  line-height: 185%;
}

.drone__text-2 {
  margin-top: 31px;
  font-size: 15px;
  line-height: 185%;
}

.link-wrapper__btn_more {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 50px;
}

.dore__more {
  margin-bottom: 80px;
}

@media (min-width:768px) {
  .drone__movie {
    display: flex;
    width: 90%;
    max-width: 1104px;
    margin: 0 auto;
  }
  .drone__movie_item:first-child {
    margin-right: 30px;
  }
  .drone__text {
    max-width: initial;
    text-align: center;
    margin-top: 58px;
  }

  .title-2_drone {
    margin-bottom: 64px;
  }
  .drone__movie_item {
    margin: 4.3% auto 0 auto;
    max-width: 470px;
  }

  .link-wrapper {
    margin-bottom: 100px;
  }

  .dore__more {
    margin-top: 57px;
  }
  .dore__more {
    margin-bottom: 100px;
  }

  .link-wrapper__btn_more {
    margin-top: 70px;
  }  
}

/* Architecture（建築） */
.architecture {
  background: #F7F7F7;
  padding: 50px 0 15px 0;
}

.architecture__title::before {
  content: "Architecture";
}

.architecture__container {
  display: flex;
  flex-direction: column;
}

.architecture__image {
  width: 90%;
  max-width: 450px;
  display: block;
  margin: 33px auto 30px auto;
}

.architecture__text {
  font-size: 15px;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  line-height: 185%;
}

.architecture__text-lead {
  font-size: 16px;
  font-weight: 500;
  line-height: 185%;
}

.architecture__text-order {
  order: -1;
}

.link-wrapper__btn_gallery {
  width: 290px;
  height: 46px;
  font-weight: 700;
}

.architecture__gallery {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (min-width:768px) {
  .architecture {
    padding: 75px 0 1px 0;
  }

  .architecture__title {
    margin-bottom: 64px;
  }

  .architecture__container {
    max-width: 1004px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .architecture__text-order {
    order: 0;
  }
  .link-wrapper__btn_gallery:hover {
    width: 330px;
    height: 56px;
    transition: all 0.3s ease-out;
  }
  
  .architecture__image {
    margin: 0;
    object-fit: cover;
    position: absolute;
    left: 0;
  }

  .architecture__text {
    width: 56.6%;
    max-width: initial;
    margin: 0 0 41px 0;
    font-size: 16px;
    line-height: 170%;
  }

  .architecture__text-lead {
    font-size: 18px;
  }

  .architecture__image {
    width: 37.5%;
  }

  .architecture__gallery {
    width: fit-content;
    margin: 100px auto 100px;
    transition: all 0.3s ease-out;
  }
  .architecture__gallery:hover {
    margin-bottom: 94px;
    transition: all 0.3s ease-out;
  }
}

/* News（新着情報） */
.news {
  padding: 45px 0 47px 0;
  background: url("../img/top/top-news-bg.jpg") center / cover;
  background-repeat: no-repeat;
  width: 100%;
}

.news__h2 {
  color: #fff;
}

.news__h2::before {
  content: "News";
  color: #fff;
}

.news__sub {
  color: #fff;
}

.news__sub::before,
.news__sub::after {
  background-color: #fff;
}

.news__container {
  counter-reset: number 0;
}

.news__box {
  width: 90%;
  max-width: 330px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  color: #fff;
  font-weight: 700;
}

.news__content {
  position: relative;
  bottom: -56px;
  width: 62%;
  max-width: 260px;
  margin: 0 3% 81px auto;
}

.news__content::before {
  content: counter(number, decimal-leading-zero) "";
  counter-increment: number 1;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 96px;
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: -120px;
  top: -56px;
  letter-spacing: -7px;
}

@media (max-width:340px) {
  .news__content {
    width: 66%;
  }
  .news__content::before {
    font-size: 80px;
    letter-spacing: -5px;
    left: -100px;
    top: -43px;
  }
}

.news__content_title {
  font-size: 18px;
  text-decoration: underline;
  line-height: 160%;
}

.news__content_detail {
  display: flex;
  margin-top: 15px;
}

.news__content_time {
  font-size: 13px;
  display: flex;
  margin-right: 20px;
}

.news__content_type {
 font-size: 12px;
 color: #575757;
 background: #fff;
 border: 1px solid #575757;
 padding: 5px 10px;
 border-radius: 11px;
 position: relative;
 top: -5px;
 font-weight: 400;
}

@media (min-width:768px) {
  .news {
    background-position-y: 35%;
    padding: 87px 0 105px 0;
  }
  .news__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 660px;
    width: 100%;
  }

  .news__box {
    margin: 0;
  }

  .news__box:nth-child(3) {
    margin-top: 80px;
  }

  .news__h2 {
    margin-bottom: 76px;
  }
}
@media (min-width:1100px) {
  .news__container {
    width: 90%;
    max-width: 1004px;
    justify-content: space-between;
  }
  .news__box:nth-child(3) {
    margin-top: 0;
  }
}

/* About us（プロフィール） */
.about {
  margin-top: 80px;
}

.about__h2::before {
  content: "About us";
}

.about__image {
  width: 90%;
  max-width: 450px;
  margin: 44px auto 0 auto;
}

.about__container {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.about__container_title {
  color: #4B4B4B;
  font-weight: 700;
  font-size: 20px;
  margin: 36px 0 10px 0;
  border-bottom: 1px #C4C4C4 solid;
  padding-bottom: 6px;
}
.about__container_title-small{
  font-size: 16px;
}
.about__container_position-name {
  color: #848A92;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
}

.about__container_position-name-eg {
  font-size: 12px;
}

.about__container_career {
  margin-bottom: 30px;
}

.about__container_career-detail {
  font-size: 15px;
  font-weight: 400;
  line-height: 165%;
}
.about__container_career-detail-small{
  font-size: 13px;
}
.link-wrapper__about {
  margin-bottom: 100px;
}

@media (min-width:768px) {
  .about {
    margin-top: 100px;
  }
  .about-wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 817px;
    margin: 0 auto;
  }

  .about-photo {
    width: 54%;
  }

  .about__image {
    max-width: 440px;
    width: 100%;
    height: auto;
    margin: 25px 0 0 0;
    object-fit: contain;
  }

  .about__container {
    width: fit-content;
    margin: 0;
  }

  .about__container_title {
    margin-top: 25px;
    font-size: clamp(18px, 1.75vw, 25px);
  }
  .about__container_title-small{
    font-size: 20px;
  }
  .about__container_position-name {
    font-size: clamp(16px, 1.4vw, 20px);
  }

  .about__container_position-name-eg {
    font-size: clamp(14px, 1.12vw, 16px);
  }

  .about__container_career-detail {
    font-size: clamp(13.5px, 1.12vw, 16px);
  }
  .about__container_career-detail-small{
    font-size: 14px;
  }
  .link-wrapper__about {
    margin-bottom: 150px;
  }

  .about__container_career:last-child {
    margin-bottom: 0;
  }
}